# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Developer note: near.gitignore will be renamed to .gitignore upon project creation
# dependencies
node_modules
/.pnp
.pnp.js

# build
/quest-verse-contract/out
/quest-verse-contract/dist
/quest-verse-contract/contract/target

# testing
/coverage

# production
/quest-verse-contract/build

# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

neardev
.near-credentials
